<div class="container">
	<div class="row outerWrapper">
		<div class="col-xs-12">
			<h2 class="productTitle"><span>{{ ProductName }}</span></h2>
			<div class="row">
				<div ngClass="col-sm-12">
					<div>
						<ul class='productList'>
							<li class="col-xs-12 col-md-3 clearfix"
								*ngFor='let item of _getProductList.productItems, let dataId = index'>
								<div class="prodImg"><img [src]="item.img" class="img-responsive" routerLink="/product/{{ item.id }}" /></div>
								<div class="prodDetails clearfix">
									<a routerLink="/product/{{ item.id }}" href="javascript:void(0)"
										class="productTitle">{{item.name | truncate:[25, '...']}}</a>
									<p class="productPrice"> {{item.price | currency : 'INR' }}</p>
									<ul class="item-action-container">
										<li>
											<a routerLink="/product/{{ item.id }}" href="javascript:void(0)" title="View Item" class='icon-view-item'>View</a>
										</li>
										<li>
											<a (click)="addToCart(item)" href="javascript:void(0)"  title="Add to Cart" class='icon-add-to-cart'>Add to Cart</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>